body { 
    display: flex;
    justify-content: center;
    background-color: #47EDFC;
}

.interface {
    color: rgb(0, 119, 255);
    background-color: white;
    border-radius: 5px;
    text-align: center;
}