
/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: white;
    text-decoration: none;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #14f100;
    border: 0;
    border-radius: 30px;
}

/* ESTILO DO TOPO DO SITE */
section .topo-do-site{
    padding: 40px 4%;
}

.tabela label{
    color: white;
}

.tabela th{
    background-color: #14f100;
    font-size: large;
    color: black;
}

.tabela tr{
    color: white;
}

.tabelaS tr{
    color: white;
}

.topo-do-site h1{
    color: white;
    font-size: 42px;
}

.topo-do-site h2{
    color: white;
    font-size: 32px;
}

.topo-do-site p{
    color: white;
    margin: 40px 50px;
}

.topo-do-site li{
    color: white;
    margin: 40px 50px;
}

.topo-do-site a{
    color: #14f100;
}

/* ESTILO DO RODAPÉ */

footer .line-footer{
    padding: 20px 0;
}

.border{
    border-top: 2px solid #14f100;
}

footer{
    padding: 40px 4%;
}

footer .line-footer a{
    color: white;
    padding: 10px;
}